$font-stack: Helvetica, sans-serif;
$background: #F0FDEC;
$light-background: #F0FDEC;
$text-color: #151E11;
$primary-color: #00B100;
$secondary-color: #4C6E42;
$form-background-color: #7B9971;
$form-text-color: #333;
$muted-color: #555; // solarized comment text
$primary-button-text-color: #fff;
$code-highlight-background: #f0f0f0;

$session-success-color: #007AFA;
$session-failure-color: #A06C20;

// Load custom theme
@import "theme.scss";

.primary-color {
  color: $primary-color;
}

.muted {
    color: $muted-color;
}

.light-background {
    background: $light-background;
}


body {
  font-family: $font-stack;
  font-size: 20px;
  line-height: 32px;
  background: $background;
  color: $text-color;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
a {
    text-decoration: none;
}

dl {
  display: flex;
  dt {
    width: 200px;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  dd {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
      display: inline;
    }
  }
}

.shared-header {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: -20px;
  strong {
    color: $primary-color;
  }
  span {
    color: $muted-color;
  }
}

div.highlight {
  background: $code-highlight-background;
  padding: 0 10px;
  overflow: auto;
  display: block;
  margin: 20px 0;
}

.box {
  padding: 0 20px;
}

code, pre {
  color: $secondary-color; // #cb4b16; // #268bd2; // #2aa198;
  font-family: monospace;
}

.form {
  input, select, textarea {
    font-size: 20px;
    border: 0;
    padding: 5px;
    background: $form-background-color;
    color: $form-text-color;
    &:focus {
      outline: 1px solid $secondary-color;
    }
  }
  input[type=submit] {
    font-size: 20px;
    outline: none;
    background: $primary-color;
    color: $primary-button-text-color;
    padding: 5px 12px;
    cursor: pointer;
  }
}

header {
  padding: 0 20px;
  .title {
    font-size: 1.3em;
    text-decoration: none;
    .handle {
      font-size: 0.85em;
      color: $muted-color;
    }
  }
  .counter {
    color: $muted-color;
  }
  .summary {
    a:hover {
      text-decoration: underline;
    }
  }
}
a {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

#main {
    display: flex;
    flex: 1; 
}

main {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
}

.main-flex {
    display: flex;
    flex: 1;
}

.centered {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  div {
    display: block;
  }
}

footer {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  color: $muted-color;
  p {
    margin: 0;    
  }
}

@mixin admin-button() {
    font-size: 20px;
    line-height: 32px;
    font-family: $font-stack;
    background: $form-background-color;
    color: $form-text-color;
    border: 1px solid $background;
    padding: 8px 10px 5px 10px;
    cursor: pointer;
    &:hover {
        border: 1px solid $form-text-color;
    }
}

.show-hide-sensitive-btn {
  display:inline-block;
}

.no-margin-top {
  margin-top: 0;
}

.float-right {
  float: right;
}

// after nav.flexbox to override default behavior
a.label-btn {
  color: $form-text-color;
  &:hover {
    text-decoration: none;
    color: $form-text-color;
  }
}

.error-box, .scolor {
    color: $secondary-color;
}

.error-title {
  a {
    text-decoration: underline;
  }
}

.margin-top-20 {
  margin-top: 20px;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  background-color: $primary-color;
  color: $text-color;
}

.nav-links a {
  color: $primary-button-text-color;
}

/* LOGO */
.logo {
  font-size: 24px;
  color: #fff;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: $secondary-color;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 12px;
  list-style-type: none;
}

// Scraper Session Status Bar
.status-bar {
  background-color: $secondary-color;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  font-size: 1rem;
  .status-bar-title {
    text-decoration: underline;
    margin-right: 1rem;
    padding-left: 1em;
  }
  .status-indicator {
    color: $background;
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    // margin-left: 4px;
    // margin-right: 4px;
    span {
      margin-right: 0.5rem;
    }
    // span.session-success {
    //   color: $primary-color;
    // }
    // span.session-failure {
    //   color: $session-failure-color;
    // }
  }
}

// Forecast
.forecast-wrapper {
  display: flex;
  justify-content: center;
  max-width: 720px;
}

.forecast {

  h1 {
    margin-bottom: 1rem;
    line-height: 4.4rem;
    font-size: 5rem;
  }

  .summary {
    font-size: 2rem;
    margin-bottom: 2rem;
    .description {
      font-size: 4rem;
      font-weight: 600;
      line-height: 2.8rem;
    }
  }

  h2 {
    margin-bottom: 0;
    line-height: 1rem;
    font-weight: 100;
    font-size: 1.8rem;
  }
  
  .temperature {
    font-size: 2.4rem;
    font-weight: 900;
    font-kerning: 1rem;
    margin-bottom: 0.5rem;
  }

  .humidity {
    font-size: 2.4rem;
    font-weight: 900;
    font-kerning: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .issued-section {
    margin-top: 2rem;
    color: $muted-color;
    h3 {
      margin-bottom: 0;
      line-height: 1rem;
      font-size: 1.4rem;
      font-weight: 100;
    }
  }
}